@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
	--color-main-bg: var(--main-bg);
	--color-card: var(--card);
	--color-card-border: var(--card-border);
	--color-primary: var(--primary);
	--color-primary-border: var(--primary-border);
	--color-dark-gray: #808080;
	--color-medium-gray: #80808080;
	--color-light-gray: #c5c5c5;
	--color-onyx: #181818;
	--color-faint-white: #f3f3f3;

	--container-limit: 1024px;
}

@layer base {
	:root {
		--main-bg: #fbfbfb;
		--primary: #181818;
		--primary-border: #ebe8e8;
		--card: #f5f5f5;
		--card-border: #ebebeb;
	}

	.dark {
		--main-bg: #0d0d0d;
		--primary: #ffffff;
		--primary-border: #5353534d;
		--card: #151515;
		--card-border: #383737;
	}
}
